#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: none;
  border: 1px solid wheat;
  border-radius: 1.2rem;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 40vh;
  min-width: 30vw;
}

/* TEXT - "No tasks to show" */
ul>p{
  align-self: center;
  margin: auto;
}

.list-item{
  display: flex;
  margin: 10px auto;
}

button{
  margin: 0 10px;
}